.container {
    margin-top: 250px;
}
.conpro{
    margin-top: 150px !important;
}
.card {
    height: 550px;
    width: 350px; /* Ensure card width is 100% within the col-md-4 */
}

.card-text {
    height: 125px;
}

.card-img-top {
    height: 300px;
    object-fit: cover; /* Ensure the image fits well */
}

.form-inline .form-group {
    display: flex;
    align-items: center;
}

.form-inline .form-control {
    width: auto;
    flex: 1; /* Make the input field take the remaining space */
}
.pagination{
    color: #1e272e !important;
}
.current{
    color: #1e272e !important;
}
.pagination {
    margin: 20px 0;
}

.page-item .page-link {
    color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}
.card-wrapper {
    margin-right: auto;
    
}

@media (max-width: 767px) {
    .card-wrapper {
        margin-left: 100px; /* Adjust this value as needed */
    }
}