{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"   rel="stylesheet">
  <title>Calculator</title>
  <link rel="stylesheet" href="{% static 'tools/css/cal.css' %}">
  <script src="{% static 'tools/js/cal.js' %}"></script>
</head>

<body>

  <section class="position-relative z-index-1 padding-y-xl">
    <div class="container max-width-adaptive-lg">
      <div class="p-table p-table--has-switch js-p-table--has-switch">
          <div class="p-table__item p-table__item--popular col-4@md ">               
            <div id="calcal" style="text-align: center;" class="flex justify-center items-center margin-bottom-xxs">

              <div style="background-color: white;" class="calculator">
                <div class="input printed-numbers" id="input"></div>
                <div class="buttons">
                  <div class="operators">
                    <div>+</div>
                    <div>-</div>
                    <div>&times;</div>
                    <div>&divide;</div>
                  </div>
                  <div class="leftPanel">
                    <div class="numbers">
                      <div>7</div>
                      <div>8</div>
                      <div>9</div>
                    </div>
                    <div class="numbers">
                      <div>4</div>
                      <div>5</div>
                      <div>6</div>
                    </div>
                    <div class="numbers">
                      <div>1</div>
                      <div>2</div>
                      <div>3</div>
                    </div>
                    <div class="numbers">
                      <div>0</div>
                      <div>.</div>
                      <div id="clear">C</div>
                    </div>
                  </div>
                  <div class="equal" id="result">=</div>
                </div>
              </div>  
            </div>

            <div class="margin-top-auto backbtn">
              <a href="tools" class="btn btn--primary btn--md width-100%">
                  Back to tools page
              </a>
          </div>

      </div>
    </div>
  </section>


</body>
</html>