{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Editor</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tools/css/markdown.css'%}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Markdown Editor</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">Markdown Input</div>
                    <div class="card-body">
                        <textarea id="markdown-input" class="form-control" rows="20"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-success text-white">Preview</div>
                    <div class="card-body" id="markdown-preview"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{% static 'tools/js/markdown.js' %}"></script>
</body>
</html>