{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"   rel="stylesheet">
  
  <title>Password Generator</title>
</head>

<body style="background-color: black;">

  <section class="position-relative z-index-1 padding-y-xl">
    <div class="container max-width-adaptive-lg">
      <div class="p-table p-table--has-switch js-p-table--has-switch">
          <div style="text-align: center; background-color: rgb(28, 28, 28);" class="p-table__item p-table__item--popular col-4@md">
            <div style="text-align: center;" class="flex justify-center items-center margin-bottom-xxs">
              <h4 style="color: white;" class="title">Random Password Generater</h4>
            </div>

            <div class="p-table__price-wrapper margin-bottom-sm">
              <div class="p-table__price"  >
                <input style="text-align: center;" type="text" placeholder="Create password" id="password" readonly>            
              </div>
            </div>

            <div class="margin-top-auto">

              <a id="button" href="#" class="btn1 btn btn--primary btn--md width-30%" onclick="genPassword()">
                Generate
              </a> 

              <a id="button" href="#" class="btn2 btn btn--primary btn--md width-30%" onclick="copyPassword()">
                Copy
              </a>

              <a style="margin-top: 7px;" href="tools" class="btn btn--primary btn--md width-100%">
                Back to tools page
              </a>

              </div>
          </div>

      </div>
    </div>
  </section>

</body>
<script>
  var password=document.getElementById("password");
  function genPassword() {
      var chars = "0123456789abcdefghijklmnopqrstuvwxyz!@#$%^&*()ABCDEFGHIJKLMNOPQRSTUVWXYZ";
      var passwordLength = 12;
      var password = "";
      for (var i = 0; i <= passwordLength; i++) {
          var randomNumber = Math.floor(Math.random() * chars.length);
          password += chars.substring(randomNumber, randomNumber +1);
      }
      document.getElementById("password").value = password;

  }
  function copyPassword() {
var copyText = document.getElementById("password");
copyText.select();
copyText.setSelectionRange(0, 999);
document.execCommand("copy");

}

</script>
</html>