{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tools/css/todo.css'%}">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="text-center">To-Do List</h3>
                <div class="input-group mb-3">
                    <input type="text" id="new-task" class="form-control" placeholder="Add a new task">
                    <div class="input-group-append">
                        <button id="add-task-btn" class="btn btn-primary" type="button">Add Task</button>
                    </div>
                </div>
                <ul id="task-list" class="list-group">
                    <!-- Tasks will be dynamically added here -->
                </ul>
            </div>
        </div>
    </div>
    <script src="{% static 'tools/js/todo.js'%}"></script>
</body>
</html>