body{
  min-height: 110vh;
}
.spacer {
  height: 1000px; /* Adjust this value as needed to extend beyond the viewport */
}
.card {
    background-color: #f7f1e3;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #57606f;
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.min-vh-100 {
    min-height: 100vh;
}

.container {
    margin-top: 100px;
    align-items: center;
    text-align: center;
}

.spacer {
    height: 100px; /* Adjust this value if needed for additional spacing */
}

.settingsh1{
  color: #1e272e;
}

.errormessage {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  width: 80%;
  max-width: 500px;
}
.errormessage .alert {
  margin-bottom: 0;
}
.file-input-wrapper {
margin-bottom: 15px;
text-align: center;
}

.file-input-wrapper {
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  display: none;
}
.file-input-label {
  display: block;
  margin-bottom: 5px;
  }
.file-input-wrapper input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.file-input-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #487eb0;
  color: #f5f6fa;
  border-radius: 5px;
  cursor: pointer;
}
.file-input-label:hover {
  background-color: #40739e;
  color: #2f3640;
}
.file-input-text {
  margin-top: 10px;
  display: none;
}
.btn-custom {
  background-color: #487eb0;
  color: #f5f6fa;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn-custom:hover {
  background-color: #40739e;
}

.form-control-file{
  display: none;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"]::before {
  content: 'Choose File';
  display: inline-block;
  background-color: #487eb0;
  color: #f5f6fa;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.form-text{
  display: none;
}

.asteriskField{
  display: none;
}
.profile-status .profile-info{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;  /* Optional: Adjust width as needed */
}
.profile-status{
  margin-top: 0px;  /* Maintain the desired top margin */
}
.settingsh{
  color: #1e272e;
}
@media (max-width: 1100px) {
  .profile-status .profile-info{
    float: none;  /* Reset if necessary */
    text-align: center;  /* Reset if necessary */
    margin-left: auto;
    margin-right: auto;
  }
  .profile-status {
    float: none;  /* Reset if necessary */
    text-align: center;  /* Reset if necessary */
    margin-left: -75px;
  }
}

@media (max-width: 500px) {
  .profile-status .profile-info{
    float: none;  /* Reset if necessary */
    text-align: center;  /* Reset if necessary */
    margin-left: auto;
    margin-right: auto;
  }
  .profile-status {
    float: none;  /* Reset if necessary */
    text-align: center;  /* Reset if necessary */
    margin-left: -95px;
  }
}

.arrowdown{
  margin-top: 3px;
  float: right;
  text-align: right;
  transition: transform 0.3s ease, color 0.3s ease;
  color: #00a8ff;
  font-size: 20px;
  cursor: pointer;
}
.arrowdown:hover{
  color: #0097e6;
  transform: scale(1.3);

}

.form-control{
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  margin-top: 6px;
  background-color: #f5f6fa;
}

.btnscontainer{
  display: flex;
  justify-content: center;
  gap: 10px;
}