{% extends "main/layout.html" %} 
{% load static %}
<!-- This allows child templates to override or extend these sections with their own content -->
{% block title %}
    Basket
{% endblock title %} 

{% block head %}

{% endblock head %}

{% block header %}

{% endblock header%}

{% block body %}
<h2>{{ product.title }}</h2>
<img src="{{ product.image.url }}" alt="{{ product.title }}">
<p>{{ product.description }}</p>
<p>Price: ${{ product.price }}</p>
{% endblock body%}

{% block footer %}

{% endblock footer %}