{% extends "main/layout.html" %} 
{% load static %}
<!-- This allows child templates to override or extend these sections with their own content -->
{% block title %}
Modern Tools
{% endblock title %} 

{% block head %}
<link rel="stylesheet" href="{% static 'tools/css/style.css' %}">
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }
    .container {
        max-width: 800px;
        margin: 50px auto;
        margin-top: 150px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .tool {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .tool .name {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }
    .tool .name:hover {
        color: #007bff;
    }
</style>
{% endblock head %}

{% block header %}

{% endblock header%}

{% block body %}
<div class="container toolscon">
    <div class="tool">
        <a href="{% url 'chat:index' %}"><p class="name">Chat</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'flatui' %}"><p class="name">Flat UI Colors</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'colorpicker' %}"><p class="name">Color Picker</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'calculator' %}"><p class="name">Calculator</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'note' %}"><p class="name">Notepad</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'paint' %}"><p class="name">Paint</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'todo' %}"><p class="name">Todo List</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'stopwatch' %}"><p class="name">Timer/Stopwatch</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'qrcode' %}"><p class="name">QR Code Generator</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'pomodoro' %}"><p class="name">Pomodoro Timer</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'loremipsum' %}"><p class="name">Lorem Ipsum Generator</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'texttospeech' %}"><p class="name">Text to Speech</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'regextester' %}"><p class="name">Regex Tester</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'iplocator' %}"><p class="name">IP Address Locator</p></a>
    </div>
    <div class="tool">
        <a href="{% url 'passwordgenerator' %}"><p class="name">Password Generator</p></a>
    </div>

</div>
{% endblock body%}

{% block footer %}

{% endblock footer %}